* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: #121212;
    background-color: #FFFAFA;
}

article {
    letter-spacing: 0.05ch;
    line-height: 1.6;
}

svg {
    color: white;
}

article p, article h3 {
    background-color: white;
}