<!DOCTYPE html>
<html lang="pl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kościół Zmartwychwstałego | Tarnowskie Góry | {{ song.title }}">
    <link rel="icon" type="image/jpeg" href="/static/icons/icon-48x48.png">
    <meta charset="UTF-8">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Noto+Sans:wght@400;700&display=swap"
          rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/static/main.css" rel="stylesheet">
</head>

<body class="flex flex-col min-h-screen">

<main class="flex-1 flex flex-col items-center justify-start pb-20 px-4 mb-1">
    <div class="w-full flex justify-center pt-10">
        <a href="/"
           class="flex items-center text-gray-900 text-base active:scale-95 py-3 hover:no-underline flex-shrink-0">
            <svg class="w-5 h-5 mr-2 flex-shrink-0" fill="none" stroke="currentColor" stroke-width="2"
                 viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"></path>
            </svg>
            Powrót do listy pieśni
        </a>
    </div>

    <ul class="w-full max-w-3xl">
        <li>
            <article class="song p-6">
                <div class="song__number text-7xl font-bold text-gray-800 mb-16 mt-8 text-center">
                    {{ song.id }}
                </div>
                <h1 class="song__title text-2xl font-bold mb-10 text-center">
                    {{ song.title }}
                </h1>
                <section class="song__lyrics text-left" aria-labelledby="song__title">
                    {% for verse in song.verses %}
                        <div class="song__verse mt-4">
                            {% for line in verse.lines %}
                                <p>{{ line }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </section>
            </article>
        </li>
    </ul>
</main>

</body>

</html>